<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Импорт карточек</title>
</head>
<body>
  <h1>Загрузка файла с артикулами</h1>
  <form method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Загрузить</button>
  </form>
  {% if log %}
    <p><strong>Результат:</strong> {{ log }}</p>
  {% endif %}

  <h2>Логи выполнения:</h2>
<pre id="logs" style="background:#eee; padding:1em; height:300px; overflow-y:auto;"></pre>

<script>
function updateLogs() {
  fetch('/logs')
    .then(response => response.text())
    .then(data => {
      document.getElementById('logs').textContent = data;
    });
}
setInterval(updateLogs, 2000);
updateLogs();
</script>
</body>
</html>
