<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Импорт карточек</title>
</head>
<body>
  <h1>Загрузка файла с артикулами</h1>
  <form method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Загрузить</button>
  </form>
  {% if log %}
    <p><strong>Результат:</strong> {{ log }}</p>
  {% endif %}

<h2>Логи выполнения:</h2>
<pre id="logs" style="background:#f5f5f5; padding:1em; height:300px; overflow:auto;"></pre>

<script>
  setInterval(() => {
    fetch("/logs")
      .then(r => r.text())
      .then(t => {
        document.getElementById("logs").innerText = t;
      });
  }, 3000);  // обновлять каждые 3 секунды
</script>

</body>
</html>
